body {
  height: 100vh;
  margin: 0;
  font: Georgia;
  background-color: #f6f5ec;
  
}


#nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px 10px;
  background-color: #CCD5AE
}

#my-profile {
  margin-left: 80%;
}
#nav-links li {
  display: inline;
}

#nav-links a {
  color: black;
  font-family: Georgia;
  text-decoration: none;
}

#nav-links a:hover {
  text-decoration: underline;
}

#nav-links button {
  color: black;
  border: #add8e6;
  border-radius: 5px;
  background-color: #FAEDCD;
  font-size: 15px;
  height: 30px;
}

#home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


#home-page input {
  height: 30px;
  width: 400px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid black
}

#home-page p {
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}


.feed-container button {
  background-color: #DDA15E;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px;
  margin-left: 20px; 
  border-radius: 10px;
  width: 120px;
  font-size: 15px;
}
.feed-container .active {
  background-color: #9b6931;
}


.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-container h2 {
  font-size: 40px;
}



#posts-container {
  margin-top: 20px;
  width: 40%;
}

.review-post {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #f8f1de;
  box-shadow: 10px 10px 5px 0px rgba(219,216,219,1);

}

.username-post {
  margin-bottom: 10px;
  font-size: 25px;
  /* border-bottom: 1px solid black; */
}

.review-post ul {
 list-style-type: none; 
 font-size: 18px;
 /* padding-right: 30px; */
}

.review-post span{
  font-weight: bold;

}

.review-post .edit-button{
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  float: right;
  padding: 5px 6px;
  border-radius: 50%;
  margin: 5px 10px;
  font-size: 20px;

}
.review-post .edit-button:hover {
  background-color: lightgray;
}

#profile-feed {
  margin-left: 200px;
}

#sidebar {
  background: #E9EDC9;
  width: 300px;
  position: fixed;
  /* margin-top: 50px; */
  height: 100vh;
  
}

#sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

#sidebar img {
  border-radius: 50%;
}

#sidebar ul {
  list-style-type: none;
  margin-top: 30px;
  font-size: 18px;
}

#edit-profile-button{
  background-color: #E9EDC9;
  border: none;
  cursor: pointer;
  float: right;
}

#edit-profile-button:hover {
  background-color: #d5dbad
}

#edit-profile-button img {
  height: 40px;
  width: 35px;
}

#sidebar h2 {
  text-align: center;
}

.star {
  color: rgb(0, 0, 0);
}

#edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  background-color: #ffffff;
  box-shadow: 10px 9px 24px 0px rgba(189,189,189,1);
  width: 25%;
  border-radius: 15px;
  min-width: 350px;
  max-width: 400px;
  position: absolute;
  left: 40%;
  top: 35%;
}

#edit-profile label {
  margin-top: 10px;
}

#edit-buttons {
  margin: 20px 0;
}

#edit-buttons button{
  margin: 0 40px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
}

#edit-submit {
  background-color: #FAEDCD;
  border: 1px solid #FAEDCD;
  cursor: pointer;
}

#edit-cancel {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;

}

#edit-profile textarea {
  height: 100px;
  width: 300px;
  font-family: Georgia;
  font-size: 15px;
}


#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: palegoldenrod;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-input {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
}